*.gpkg
*.html
*.json
*.swp
!gpkg/amenity.gpkg
!gpkg/highways.gpkg
!gpkg/junctions.gpkg
!gpkg/malls_5000m.gpkg
!gpkg/malls_500m.gpkg
!gpkg/malls.gpkg
!gpkg/public_transport_station.gpkg
!gpkg/results.gpkg
!gpkg/shop.gpkg
!hex_plots.html
!placeTypes.json
.Rproj.user
